#container {
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#innerContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

  outline: 1px solid black;
}

div.black:hover {
  color: black;
}

div.red:hover {
  color: red;
}

.hoverc {
  background: #ff0000;
}

#top_container {
  width: 960px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
}

#set_sq {
  width: 30%;
}

#panel_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  font-size: large;
  font-weight: bold;
  padding: 30px;
  margin: 5px;
  width: 20%;
  border-radius: 5px;
  border-width: 1px;
  color: rgb(39, 42, 44);
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.rainbow {
  background: linear-gradient(90deg, Red, Orange, Yellow, Green, Blue);
}

/*
.grid {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: var(--secondary-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-element {
  user-select: none;
}
*/
