#container {
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
    
}

#innerContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

    outline: 1px solid black;
}

div:hover {
  color: red;
}

.hoverc {
  background: #ff0000;
}

#top_container {
  width: 960px;
  display: flex;
  justify-content: center;
}

#set_sq {
  width: 30%;
}

/*
.grid {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: var(--secondary-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-element {
  user-select: none;
}
*/
